<footer style="background-color: rgba(0, 0, 0, 0.084); padding: 20px 0; margin-top: 20px; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2025 - All Rights with <a href="#" target="_blank">Mayor</a></p>
            </div>
        </div>
    </div>
</footer>