<section style="background-color: #f8f9fa; padding: 20px 0; margin-top: 20px; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Github User Data</h1>
            </div>
        </div>
    </div>
</section>